body {
    color: #00534c;
    background-color: antiquewhite;
    position:relative;
    min-height: 110vh;
}


#header-nav{
    background-color: #a99b4c;
    border-radius: 0;
    border: 0;
    color: #00534c;
    font-size: 1.5em;
    margin:0;
    padding: 0;
  }
.navbar
 {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}
#social-bar{
    margin:0;
    padding-left: 0;
}
#social-croll {
  justify-content: right;
  text-align: right;
}
.social_icon .fa {
margin-left:10px;
padding: 10px;
font-size:25px;
width: auto;
text-align: center;
text-decoration: none;
border-radius: 20%;
border:2px solid #ffd8be 20%;
}
.fa-facebook-square {
  border:2px solid #ffd8be 20%;
color: #00534c;
}
.nav > li > a{
    color: #ffd8be;
}
.nav > li > a:hover{
    background-color: #a99b4c;
    color: #00534c;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a99b4c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown .dropdown-content a {
color: #ffd8be;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown .dropdown-content a:hover {
background-color: #00534c;
color: #ffd8be;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.container .jumbotron{
    margin-top:20px;
    padding:0;
    box-shadow:0 0 25px #3F0C1F;
    border:2px solid #3F0C1F;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border:1px solid #61122f;
  }
  .navbar-header button.navbar-toggle{
    clear:both;
    margin-top:-30px;
  
  }
.jumbotron{
    position:relative;
}
.jumbotron a span{
    position:absolute;
    bottom: 20%;
    right:0;
    left:0;
    width:50%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.6em;
    display: flex;
    margin:auto;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    text-justify: auto;
    border: 1px solid #222;
    height: 20%;
    font-size: 1.4vw;
    color:gray;
}
.jumbotron a span{
  text-decoration: none;
  color:white;
  align-items: center;
}
.jumbotron span:hover{
  box-shadow: 0 0 10px #999;
}
.link-classes:hover{
    box-shadow: 0 0 20px #000;
}
#welcome-text{

  padding:20px;
  margin-bottom:20px;
}
.welcome-text{
  margin:20px;
  font-family: 'Pacifico', cursive;
  color:#3E2F5B;

}
.crazy-legs-text{
  text-transform: uppercase;
}
.card a img{
  border: 10px solid #a99b4c;
}
.separator{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  border-top: 2px dashed #8c8b8b
  height: 12px;
  background: black;
  margin-bottom: 50px;
}
#footer{
  position:absolute;
  width:100%;
  bottom:0;
  background-color: #a99b4c;
  font-size: 1.2em;
  height: 6rem;
}
#main-content{
  padding-bottom: 10rem; 
}
#contact-us{
  
}
#classes-content{
  padding-bottom: 10rem; 
}
#classes-content h1{
  font-family: 'Roboto', sans-serif;
  font-size:100px;
  text-align: center;
  margin-top:30px;
  margin-bottom: 30px;
}
#classes-content p{
  font-family: 'Roboto', sans-serif;
  font-size:1.4em;
  text-align: justify;
}
@media (min-width:768px) and (max-width:991px){
  .navbar-toggle {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  #collapsable-nav{
    font-size: 1.5vw;
  }
  .social_icon .fa {
    margin-left:5px;
    padding: 5px;
    font-size:16px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    }
}
/* Change the background color of the dropdown button when the dropdown content is shown */
@media (max-width:767px){
    .fa {
        font-size: 1em;
        padding: 5px;
        width: 25px;
    }
    #collapsable-nav a{
        font-size:1em;
        text-align: right;
        
      }

      #collapsable-nav a span{
        font-size:1em;
        margin-right: 5px;
      }
}
@media (min-width: 1200px){
  .custom-class {
    display: none;
  }

}
@media (min-width: 992px) {
  .custom-class {
    display: block;
  }

}